version: '2'
services:

  esb:
    image: wso2esb-sample1:4.5.0
    ports:
      - 9000:9000
      - 9449:9443
    build: .
    environment:
      - MANAGER_URL=130.119.4.119:5009
      - AGENT_HOSTNAME=apm-docker
    command: ["5"]
